body#restaurant-create {
  background-color: #00b24f;
}

.create-res-container {
  margin: auto;
  width: 400px;
  background-color: white;

  input {
    border-radius: 30px;
  }
}

.dashboard {
  width: 700px;
  height: 100px

}

.create-restaurant-header {
  margin: 50px 0px;
  p {
    font-size: 30px;
    text-align: center;
    color: #00b24f;
  }
}
