// Specific CSS for your home-page
// restaurant-seller page -- restaurant index

.dashboard {
  background-color: white;
  height: 220px;
  width: 100%;
  margin: auto;
  box-shadow: 0 0 10px 0 #7c7c7c;
  .restaurant-header {
    font-family: "Lora", serif;
    font-family: "Open Sans", sans-serif;
    // margin: 0 16px;
    padding: 50px;
    text-align: center;
    color: green;
  }
}

.banner h1 {
  font-size: 80px;
  color: black;
}

.detail {
  width: 320px;
  height: 360px;
  background-color: white;
  border: 1px solid rgb(116, 255, 116);
  border-radius: 4px;
}

.links {
  color: green;
}

.footer {
  background-color: green;
  text-align: center;
  padding: 30px;
  margin-top: 16px;
  color: black;
}

.footer a {
  color: rgb(0, 249, 0);
  font-size: 25px;
  padding: 8px;
}

// show-seller restaurant

.card-restaurant {
  width: 320px;
  height: 460px;
  background-color: white;
  border: 1px solid rgb(116, 255, 116);
  border-radius: 4px;
}

.item-name {
  font-size: 14px;
  width: 280px;
  height: 60px;
}
