body#login-page {
  background-color: #00b24f;
}

.main-container-login {
  background-color: white;
  width: 60vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.second-container-login {
  width: 500px;
  margin: 0 auto;

  p {
    color: #00b24f;
    font-size: 40px;
    text-align: center;
  }
}

/* ------------ image ---------- */
.img-login {
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ----------- form content ---------- */
.form-inputs-login {
  width: 300px;
  margin: 0 auto;

  .sign_in {
    text-align: left;
  }

  input {
    border-radius: 20px;
  }
}

.form-actions-login {
  border: 1px solid #00b24f;
  border-radius: 30px;
  background-color: #00b24f;
  text-align: center;
  width: 100px;
  margin: auto;
  margin-bottom: 20px;
}

.submit {
  font-weight: bolder;
  color: white;
  border: none;
}


.submit:hover {
  color: black ;
}

.sign_up {
  text-align: center;

  a {
    text-decoration: none;
  }
  a:hover {
    color: #00b24f;
  }
}
