body#pass-page {
  background-color: #00b24f;
}

.main-container-password {
  background-color: white;
  width: 60vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-container-password {
  width: 500px;
  margin: 0 auto;

  h1 {
    color: #00b24f;
  }

  .img-password {
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.form-inputs-password {
  width: 300px;
  margin: 0 auto;

  input {
    border-radius: 20px;
  }
}

.form-actions-password {
  margin: 0 auto;
  text-align: center;

  :hover {
    color:#00b24f
  }
}

.link-password {
  text-align: center;

  a {
    text-decoration: none;
  }

  a:hover {
    color: #00b24f;
  }
}
