.container-main-div {
  background-color: white;
  width: 60vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 {
  margin: 30px 200px;
}

.container-div {
  width: 500px;
  height: 600px;

  .text {
    font-size: 40px;
    color: #00b24f;
    text-align: center;
  }
}

.form-inputs3 {
  width: 300px;
  margin: auto;

  input {
    margin: auto;
    border-radius: 30px;
    text-align: center;
  }
}

.form-actions3 {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 1px solid #00b24f ;
  color:#00b24f
}

.link1 {
  text-align: center;
  a {
    text-decoration: none;
  }
  :hover {
    color: #00b24f;
  }
}
