body#signup-page {
  background-color: #00b24f;
}

.main-container-signup {
  background-color: white;
  width: 60vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-container-signup {
  width: 500px;
  margin: 0 auto;

  .text-signup {
    color: #00b24f;
    text-align: center;
  }

  .img-signup {
    margin: 0 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.form-inputs-signup {
  width: 300px;
  margin: 0 auto;

  input {
    border-radius: 20px;
  }
}

.form-actions-signup {
  margin: 0 auto;
  border: 1px solid #00b24f;
  border-radius: 30px;
  background-color: #00b24f;
  text-align: center;
  width: 100px;
  margin-bottom: 20px;
}

.signup-button {
  font-weight: bolder;
  color: white;
  border: none;
  :hover {
    color: black ;
  }
}

.link-signup {
  text-align: center;

  a {
    text-decoration: none;
  }
  a:hover {
    color: #00b24f;
  }
}
