<%= render "shared/navbar" %>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="location-container">
  <div class="location-greeting">
    <p>Good Evening</p>
  </div>
  <div class="location-description">
    <p>Let's explore good food around you</p>
  </div>
  <input type="text" class="location-bar" placeholder="Search location">
  <br>
  <button type="button" class="btn btn-success">Success</button>
</div>

 <div class="restaurant-card">
  <%@restaurants.each do%>
    <%=@restaurant.name%>
  <%end%>
 </div>
