<%= render "shared/navbar" %>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="location-container">
  <div class="location-greeting">
    <p>Good Evening</p>
  </div>
  <div class="location-description">
    <p>Let's explore good food around you</p>
  </div>
  <input type="text" class="location-bar" placeholder="Search location">
  <br>
  <button type="button" class="btn btn-success">Success</button>
</div>

 <div class="cards">
 </div>

<%= link_to "Log In", user_session_path(@user) %>
<%= link_to "Sign Up", new_user_registration_path(@user) %>
<%= button_to "Log Out", destroy_user_session_path, method: :delete  %>
