<%# dashboard header %>
<div class="dashboard">
  <div class="restaurant-header w-100 d-flex align-items-center justify-content-center shadow-lg" style="height: 200px; background-color: white">
    <h1>Food Dashboard - Edit</h1>
  </div>
</div>
