<h1> Your Dashboard </h1>
<p>Here is where you see all of your restaurants </p>


<%= link_to "Create A Restaurant!", new_restaurant_path(@restaurant) %>

<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant.name, restaurant_path(restaurant) %>
  <%= restaurant.location %>
  <%= restaurant.category %>
<% end %>
