.category-card {
  width: 240px;
  height: 175px;
  .img-container {
    height: 80%;
  }
  .tag {
    font-family: Open-Sans;
    font-size: 10px;
    font-weight: bold;
  }
}

.targetcards {
  margin: 10px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 260px;
  height: 440px;
  justify-content: top;
  border-radius: 4px;
  border: 1px solid #bfbfbf;
}

.card-img {
  width: 100%;
}

.card-img img {
  object-fit: cover;
  width: 100%;
  margin-bottom: 10px;
}

.description {
  width: 220px;
  height: 140px;
  font-size: 12px;
}
