.location-container {
  background-color: #fff;
  width: auto;
  height: 400px;
  margin: auto;
  position: relative;
  padding: 48px 24px 24px;
  border: 1px solid #e5e9f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .location-bar {
//   // position: absolute;
//   bottom: 10;
//   width: 400px;
//   height: 48px;
//   padding: 6px 48px;
// }

.search-bar {
  width: 50%;
}

.search-button {
  margin-left: 20px;
}

.search-dish {
  // position: absolute;
  bottom: 10;
  width: 1000px;
  height: 48px;
  padding: 6px 48px;
}

// .input-group {
//   // position: absolute;
//   bottom: 10;
//   width: 1000px;
//   height: 48px;
//   padding: 6px 48px;
// }

.location-description {
  height: 80px;
  width: 400px;
  p {
    font-size: 24px;
    font-family: Open-Sans;
    font-weight: bold;
  }
}

.location-greeting {
  height: 28px;
  width: 400px;
  p {
    font-size: 20px;
    font-family: Open-Sans;
  }
}

.btn-success {
  // position: absolute;
  bottom: 0;
  // margin-bottom: 10px;
  height: 48px;
}

h1 {
  font-size: 40px !important;
  text-align: center;
}
