.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.notice {
  margin: 0 !important;
}

.nav-item {
  margin: 10px;
}

.front-body {
margin-left: 300px;
margin-right: 300px;

}
